body {
    font-family: Arial, sans-serif;
    background-color:#FFE9D0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#container-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1000px;
}

.container-info, .container-skills, .container-edu, .container-work {
    margin-left: 100px;
    margin-right: 10%;
    padding: 20px;
    background-color: #F7DED0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    box-shadow: 5px 5px 5px 5px rgb(0,0,0,0.6);
}

h1 {
    text-align: center;
    font-size: 2.5rem;
    color: #8C3061;
    margin-bottom: 20px;
}

h2 {
    font-size: 1.5rem;
    color: #8C3061;
    border-bottom: 2px solid #8C3061;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-top: 15px;
    color: #8C3061;
    font-size: 1rem;
}

input[type="text"], input[type="email"], input[type="number"], input[type="date"] {
    width: 100%;
    padding: 12px;
    margin-top: 5px;
    margin-bottom: 20px;
    border: 1px solid black;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 1rem;
}

input[type="radio"] {
    margin-right: 10px;
}

div input[type="radio"] + label {
    display: inline-block;
    font-weight: normal;
    margin-right: 20px;
    font-size: 1rem;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #FFB0B0;
    color: white;
    font-size: 1.2rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease;
    box-shadow: 5px 5px 5px 5px rgb(0,0,0,0.6);
}

button:hover {
    background-color: #EE66A6;
}

.toggle-button {
    width: 100%;
    padding: 10px;
    background-color: #FFB0B0;
    color: white;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    text-align: center;
    transition: background-color 0.3s ease;
}

.toggle-button:hover {
    background-color: #EE66A6;
}

/* Responsive design */
@media (max-width: 600px) {
    .container-info, .container-skills, .container-edu, .container-work {
        padding: 15px;
        margin: 10px 0;
    }

    h1 {
        font-size: 2rem;
    }

    button, .toggle-button {
        font-size: 1rem;
        padding: 10px;
    }
}
